@import 'react-diff-view/style/index.css';

.diff-gutter,
.diff-gutter.diff-gutter-insert {
  color: hsl(var(--muted-foreground));
}

.diff-gutter {
  text-align: center;
}

.diff-gutter-col {
  width: 40px;
}

:root {
  --diff-gutter-insert-background-color: #eaf5ea;
  --diff-code-insert-background-color: #eaf5ea;
  --diff-gutter-delete-background-color: #f7e5e5;
  --diff-code-delete-background-color: #f7e5e5;

  .diff-container {
    background-color: white;
  }
}

.dark {
  --diff-gutter-insert-background-color: #183b25;
  --diff-code-insert-background-color: #183b25;
  --diff-gutter-delete-background-color: #411a1b;
  --diff-code-delete-background-color: #411a1b;

  .diff-container {
    background-color: hsl(var(--background));
    ;
  }
}
