@import 'spinner.css';
@import 'git-diff-view.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 5%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 45%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 96.1%;
  }

  .dark {
    --background: 0 0% 10%;
    --foreground: 0 0% 95%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 18%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;

    --sidebar-background: 0 0% 9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.drag {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

.multiselect span,
.multiselect div div div:last-of-type {
  font-weight: normal !important;
}

.multiselect div[role="button"] {
  padding: 0px !important;
}

.toolbar-button {
  position: relative;
}

.toolbar-button::after {
  content: '';
  position: absolute;
  top: 13px;
  bottom: 13px;
  right: 0px;
  width: 0px;
  border-right: 1px dashed;
  border-color: hsl(var(--border));
}

.toolbar-button:last-child::after {
  display: none;
}


::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: hsl(var(--border));
  border-radius: 100px
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.repo-table td {
  height: 60px;
}


body {
  /* https://github.com/shadcn-ui/ui/issues/1859 */
  pointer-events: auto !important;
}

* {
  outline: none !important;
  box-shadow: none !important;
}

.dialog-medium {
  max-width: 700px;
}
